# GitHub API Token (required)
GITHUB_TOKEN=

# Elasticsearch URL (optional, defaults to localhost)
ELASTICSEARCH_URL=
ELASTICSEARCH_API_KEY=

SLACK_TOKEN=

BUILDKITE_TOKEN=
BUILDKITE_ORG_SLUG=

# GitHub repository to analyze (optional, defaults shown)
GITHUB_OWNER=
GITHUB_REPO=a